/* ES Klarheit Grotesk Mono Font Faces */

@font-face {
  font-family: 'ES Klarheit Grotesk Mono';
  src: url('../assets/fonts/ESKlarheitGroteskMono-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'ES Klarheit Grotesk Mono';
  src: url('../assets/fonts/ESKlarheitGroteskMono-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'ES Klarheit Grotesk Mono';
  src: url('../assets/fonts/ESKlarheitGroteskMono-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ES Klarheit Grotesk Mono';
  src: url('../assets/fonts/ESKlarheitGroteskMono-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'ES Klarheit Grotesk Mono';
  src: url('../assets/fonts/ESKlarheitGroteskMono-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ES Klarheit Grotesk Mono';
  src: url('../assets/fonts/ESKlarheitGroteskMono-BookItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'ES Klarheit Grotesk Mono';
  src: url('../assets/fonts/ESKlarheitGroteskMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ES Klarheit Grotesk Mono';
  src: url('../assets/fonts/ESKlarheitGroteskMono-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'ES Klarheit Grotesk Mono';
  src: url('../assets/fonts/ESKlarheitGroteskMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ES Klarheit Grotesk Mono';
  src: url('../assets/fonts/ESKlarheitGroteskMono-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'ES Klarheit Grotesk Mono';
  src: url('../assets/fonts/ESKlarheitGroteskMono-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ES Klarheit Grotesk Mono';
  src: url('../assets/fonts/ESKlarheitGroteskMono-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'ES Klarheit Grotesk Mono';
  src: url('../assets/fonts/ESKlarheitGroteskMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ES Klarheit Grotesk Mono';
  src: url('../assets/fonts/ESKlarheitGroteskMono-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'ES Klarheit Grotesk Mono';
  src: url('../assets/fonts/ESKlarheitGroteskMono-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'ES Klarheit Grotesk Mono';
  src: url('../assets/fonts/ESKlarheitGroteskMono-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}
